<h1>Mutaciones</h1>
<hr />
<div class="row">
  <div class="col-6">
    <input
      title="t"
      #txtEmail
      type="text"
      class="form-control mb-2"
      (input)="onFieldUpdated('email', txtEmail.value)"
      [value]="user().email"
    />

    <input
      title="t"
      #txtFirstName
      type="text"
      class="form-control mb-2"
      (input)="onFieldUpdated('first_name', txtFirstName.value)"
      [value]="user().first_name"
    />

    <input
      title="t"
      #txtLastName
      type="text"
      class="form-control mb-2"
      (input)="onFieldUpdated('last_name', txtLastName.value)"
      [value]="user().last_name"
    />
  </div>
  <div class="col-6">
    <pre>{{ user() | json }}</pre>
  </div>
</div>
